body {
    position: fixed;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./images/Gamebg.jpg");
    position:fixed;
    background-size: 100% 100%;
}





